%li
  = link_to("<i class='fa fa-home fa-fw dd-menu__icon'></i>Home".html_safe, root_path)
%li{class: 'active'}
  = link_to("<i class='fa fa-cog fa-fw dd-menu__icon'></i>Profile Settings".html_safe, "#")